# markdown basics
## markdown basics
### markdown basics
####  markdown basics
#####  markdown basics
######  markdown basics

* *point*
* **point**
* ***point***
* point
 * sublist 1
 * sublist 2
 
> 1. point1
> 2. point2 

 ***adding links to markdown***

* google site --[1]: https://www.google.com/
* msn site    --[2]: https://www.msn.com/en-in
- []option 1
* google site -- [google][1]
[1]: https://www.google.com/

### python basics

* Python version 3.7 

* Functional programming 

* Object oriented programming 

* scripting programming

In [9]:

print("hello,gitam")
print("Hyderabad")

hello,gitam
Hyderabad

In [10]:
print("Hello ,Gitam","|||",end="")
print("Hyderabad",end="|||")
print("Python Programming")

Hello ,Gitam |||Hyderabad|||Python Programming

In [12]:
n1=100
print(n1)

100

In [16]:
n1=100 #single variable assignment
a=b=c=20 # multi variable assignment of the same value
a1,b1,c1=111,222,333 #multi variable assignment with different values
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

#Data Types and conversions

* integer
* float
* string

In [18]:
a=100
s1="python"
f1=1.67
print(a,s1,f1)
print(type(a),type(s1),type(f1))

100 python 1.67
<class 'int'> <class 'str'> <class 'float'>

In [3]:
# Find the largest number among give 3 numbers
a1=int(input("enter number 1 "))
a2=int(input("enter number 2 "))
a3=int(input("enter the number 3 "))

if a1>a2 and a1>a3:
    print(a1,"is large")
elif a2>a3 and a2>a1:
    print(a2,"is large")
else:
    print(a3,"is large")

enter number 1 12
enter number 2 23
enter the number 3 67
67 is large

In [7]:
# check if a year is leap year or not
y=int(input("enter year"))
if y%400 ==0 or (y %100!=0 and y % 4 == 0):
    print("leap year")
else :
    print("not leap year")

enter year120
leap year

### ITERATION
- while
- for

Syntax:

In [8]:
x=0
while x<5:
    print("Gitam")
    x=x+1

Gitam
Gitam
Gitam
Gitam
Gitam

In [11]:
# print n natural numbers using while loop
# input is 10 
# output-1 2 3 4 5 6 7 8 9 10
x=1
n=int(input("enter value of n"))
while x<=n:
    print(x)
    x=x+1

enter value of n9
1
2
3
4
5
6
7
8
9

In [16]:
x=1
n=int(input("enter value of n "))
while x<=n:
    print(x,end =" ")
    x=x+1

enter value of n 67
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67

In [ ]:
# Read a number -- n
# addonly even numbers between 1 to n
# input -- 10
# output -- 30(2+4+6+8+10)
n=int(input("enter the number"))
x=1
s=0
while x%2==0:
    if x<=n:
        s=s+x
    x=x+1
        
print(s)

In [ ]:
# Read a number n
# addonly even numbers between 1 to n
# input 10
# output 30(2+4+6+8+10)

n=int(input("enter the number"))
x=1
sum=0
while x%2==0:
    if x<=n:
        sum=sum+x
    x=x+1
        
print(sum)

In [ ]:
# number as a number --123
# print the digits of a given number : 3 2 1